<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div class="container">
    <div class="card card-body bg-light p-2">
      <h3 class="text-center">現在ログインしていません</h3>
      <div class="row">
        <button (click)="auth.googleSignIn()" class="btn btn-dark btn-lg" style="margin: auto">
          ログイン
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user" class="container">
    <div class="card card-body bg-light p-2">
      <h3 class="text-center">
        {{ user.displayName }} としてログインしています
      </h3>
      <div class="row">
        <button (click)="auth.signOut()" class="btn btn-dark btn-lg" style="margin: auto">
          ログアウト
        </button>
      </div>
    </div>
  </div>
</ng-template>
