<!--<header class="card-header text-left display-4"></header>-->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">自動板書ノート作成システム</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/browse-note">閲覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-lecture">追加</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="uplodad-movie">アップロード</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <app-login class="navbar-text"></app-login>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
